.cause h1 {
	color: #30003b;
	font-weight: bold;
	font-size: 600%;
}

.info{
	margin-left: 40px;
}

#inputName{
	margin-top: 40px;
}

#inputEmail3{
	margin-top: 10px;
}

#NONPROFIT{
	margin-top: 10px;
}

#W{
	margin-top: 10px;
}

.inputboxes{
	margin-left: px;
}

.row{
  margin-top: 60px;
  margin-bottom: 30px
}

.media{
	margin-left: 60px;
}

#button{
	margin-top: 200px;
	background-color: #FF1493;
	border: none;
	text-align: center;

}

.inside{
	margin-left: 20px;
}
